html {
    height: 100%;
    background: url(../img/background.png) repeat-y;
    -webkit-filter: blur(50%);
    filter: blur(50%);
    background-size: cover;
}

//change

.menu h1 {
    color: white;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(61, 100, 90, 0.25);
    font-size: 3em;
    background: url(../img/back.gif);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
}

.buttons {
	font-size: 1em;
	padding: 20px;
	background: linear-gradient(to bottom right, rgba(177, 177, 87, 0.562) 20%, rgba(138, 18, 36, 0.651) 100%);
	border-radius: 5px;
    box-shadow: 3px 3px 1px rgba(0,0,0,0.15);
    
	color: rgba(19, 19, 19, 0.666);
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.backs {
    background: url(../img/back.png);
    display: block;
    width: 50px;
    height: 50px;
    background-size: contain;
    margin-left: calc(50% - 25px);
    margin-top: 20px;
}

#back {
    margin-top: 290px;
}

#board {
    width: 408px;
    margin-left: calc(50% - 204px);
    display: inline-block;
}


#table {
    margin-right: auto;
    margin-left: auto;
}

td {
    border-style: dotted;
    border-width: 2px;
}